@page "/genres/edit/{GenreID:int}"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navManager
@inject GenresRepository repository
@inject SweetAlertService swAl
@attribute [Authorize(Roles = "admin")]

<h3>Edit genre</h3>
@if(Genre is not null) {
    <GenreForm @ref="genreForm" Genre="Genre" OnValidSubmit="Edit" />
}
else {
    <LoadingWheel/>
}

@code {
    [Parameter] public int GenreID { get; set; }
    private Genre? Genre;
    private GenreForm? genreForm;

    protected override async Task OnInitializedAsync() {
        Genre = await repository.Get(GenreID);

        if(Genre is null)
            navManager.NavigateTo("genres");
    }

    private async Task Edit() {
        await repository.Put(Genre);
        genreForm!.formPostedCorrectly = true;
        navManager.NavigateTo("/genres");
    }
}
