application/cache 
AsposePDF/
Azure Web App Test/
BlazorAppTM/
BlazorPeliculas0/
BlazorPeliculas6/
BlazorServer/
OEWeb/
PdfFilePrinter/
Print2PDF/
WebApplication1/
publish.bat
xcopy
*/obj/
*/bin/
/BlazorPeliculas/Client/bin
/BlazorPeliculas/Client/obj
/BlazorPeliculas/Server/bin
/BlazorPeliculas/Server/obj
/BlazorPeliculas/Shared/bin
/BlazorPeliculas/Shared/obj
/BlazorWebAssemblyIdiomas/Client/bin
/BlazorWebAssemblyIdiomas/Client/obj
/BlazorWebAssemblyIdiomas/Server/bin
/BlazorWebAssemblyIdiomas/Server/obj
/BlazorWebAssemblyIdiomas/Shared/bin
/BlazorWebAssemblyIdiomas/Shared/obj
/BlazorPWAPrueba/Client/bin
/BlazorPWAPrueba/Client/obj
/BlazorPWAPrueba/Server/bin
/BlazorPWAPrueba/Server/obj
/BlazorPWAPrueba/Shared/bin
/BlazorPWAPrueba/Shared/obj
/BlazorPeliculasPWA/Client/bin
/BlazorPeliculasPWA/Client/obj
/BlazorPeliculasPWA/Server/bin
/BlazorPeliculasPWA/Server/obj
/BlazorPeliculasPWA/Shared/bin
/BlazorPeliculasPWA/Shared/obj