@page "/"
@inject IStringLocalizer<Resource> localizer

<PageTitle>Index</PageTitle>

<h1>@localizer["Greeting"]</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
