@page "/counter"

<PageTitle>Counter (@currentCount)</PageTitle>
<HeadContent>
    <meta name="description" content="Page to view movies (@currentCount)" />
</HeadContent>
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
