@page "/actors/create"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navManager
@inject IRepository repository
@inject SweetAlertService swAl
@attribute [Authorize(Roles = "admin")]
<h3>Create Actor</h3>

<ActorsForm OnValidSubmit="Create" Actor="Actor" />
@code {
    private Actor Actor = new Actor();

    async Task Create() {
        var httpResponse = await repository.Post("api/actors", Actor);

        if (httpResponse.Error) {
            var ErrMessage = await httpResponse.GetErrMessage();
            await swAl.FireAsync("Error", ErrMessage, SweetAlertIcon.Error);
        }
        else {
            navManager.NavigateTo("/actors");
        }
    }
}
